<!-- search component -->
<div class="pt-7 pb-2">
  <!-- search form -->
  <form class="flex justify-center" (keydown.enter)="search($event)">
    <span class="material-icons bg-stone-300 rounded-l-lg pt-2">search</span>
    <input
      id="search"
      type="text"
      [formControl]="name"
      class="w-4/5 p-2 bg-stone-300 rounded-r-lg justify-center focus:bg-stone-400"
      placeholder="       Search Doctors"
    />
  </form>
  <!--  conditional search result -->
  <ng-container *ngIf="searchOutput.length !== 0">
    <h3 class="font-bold pt-2 pl-1">Search Result</h3>
    <div class="overflow-scroll">
      <table class="w-full table-auto bg-stone-300 rounded-lg">
        <thead>
          <tr>
            <td class="py-3">Name</td>
            <td class="py-3">Username</td>
            <td class="py-3">Email</td>
            <td class="py-3">Phone</td>
            <td class="py-3">City</td>
            <td class="py-3">Website</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of searchOutput">
            <td class="py-3">{{ val.name }}</td>
            <td class="py-3">{{ val.username }}</td>
            <td class="py-3">{{ val.email }}</td>
            <td class="py-3">{{ val.phone }}</td>
            <td class="py-3">{{ val.address.city }}</td>
            <td class="py-3">{{ val.website }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="searchNotFound.length !== 0">
    <p pt-2>Not Found</p>
  </ng-container>
</div>
